<footer>
    <div class="footer-container">
        <div class="footer-content">
            <img class="logo" src="/assets/img/logo_ivaniuk_white.png" alt="Logo do portifólio">
            <div class="social-media">
                <a href="https://github.com/ivaniukjr"><img src="/assets/img/logos/Github-white.png" alt="Github"></a>
              <a href="https://www.instagram.com/ivaniukjr/"><img src="/assets/img/logos/Instagram.png" alt="Instagram"></a>
              <a href="https://wa.me/+5511962879962"><img src="/assets/img/logos/WhatsApp.png" alt="WhatsApp"></a>
              </div>
        </div>
        <div class="snd-footer-content">
            <span>+55 (11) 96287-9962/ +55 (11) 96870-9351 </span>
            <div class="content"></div>
            <span>eduardo.ivaniuk@hotmail.com</span>
        </div>
        <div class="snd-footer-content">Gostaria de fazer um orçamento ou bater um papo sobre novas oportunidades? não deixe de entrar em contato!</div>
    </div>
</footer>