
<app-header></app-header>
<section class="about-container">
  <div class="about-content">
    <h1>Olá,<br> me chamo Eduardo <strong>Ivaniuk</strong></h1>
    <span>Sou desenvolvedor <strong>Full-stack</strong> e <strong><em>Designer</em></strong></span>
    <div class="content"></div>
    <span class="span-description">Atuo na área desde 2021, cursando Ciências da computação na Universidade Anhembi Morumbi, sempre empenhado em usar as boas praticas para oferecer o melhor em desenvolvimento.</span>
    <span class="span-description">Desenvolvo também layouts, logos e tudo que se refere a edição e manipulação de fotos e videos, conciliando o UI e UX quando mescladas.</span>
    <div class="find-me">
      <span class="find-me-span">Me encontre em:</span>
      <div class="social-media">
        <a href="https://github.com/ivaniukjr"><img src="/assets/img/logos/Github-white.png" alt="Github"></a>
      <a href="https://www.instagram.com/ivaniukjr/"><img src="/assets/img/logos/Instagram.png" alt="Instagram"></a>
      <a href="https://wa.me/+5511962879962"><img src="/assets/img/logos/WhatsApp.png" alt="WhatsApp"></a>
      </div>
      <a href="https://www.linkedin.com/in/eduardo-ivaniuk-3ba837222/" class="linkedin"><img src="/assets/img/logos/Linkedin.png" alt="Linkedin">Linkedin</a>
    </div>      
  </div>
  <div class="about-logo">
    <img src="/assets/img/logo_ivaniuk_redu.png" alt="Logo do portifólio">

  </div>
</section>

<section class="experiences">
  <div class="experiences-container">
    <h3>Ensino médio</h3>
    <div class="experiences-content">
      <i class="fa-solid fa-school"></i>
      <span>E.E Major Telmo Coelho Filho, Osasco - 2018</span>
    </div>
    <div class="content"></div>
    
    <h3>Ensino superior</h3>
    <div class="experiences-content">
      <i class="fa-solid fa-school"></i>
      <span>Universidade Anhembi Morumbi, UAM - atualmente</span>
    </div>
    <div class="content"></div>

  </div>
</section>


<section class="competencias">
  <div class="container-competencias">
    <div class="title-competencias">
      <h2>Competências</h2>
    </div>
    <div class="grid-competencias">
      <div class="image-competencias">
        <img src="assets/img/logos/Html.png" alt="Html" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Css.png" alt="Css" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/JavaScript.png" alt="JavaScript" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Typescript.png" alt="Typescript" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Sass.png" alt="Sass" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Jest.png" alt="Jest" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Cypress.png" alt="Cypress" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Ionic.png" alt="Ionic" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/AngularJS.png" alt="AngularJS" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/NodeJS.png" alt="NodeJS" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Firebase.png" alt="Firebase" />
      </div>
      <div class="image-competencias">
        <img src="assets/img/logos/Github.png" alt="Github" />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

